/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
.table-row-cell:selected {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
}
.button {
    -fx-cursor: hand;
}
}
.table-row-cell:selected {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
}
.button {
    -fx-cursor: hand;
}